<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find armin_gazeboed)/config/armin_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="/armin/controller/position joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <!-- <remap from="/armin/joint_states" to="/joint_states" /> -->
  </node>

</launch>
